<h1>Welcome</h1></br>
<p>If you enter your email and select a search, we'll try to find what you're looking for</p></br>

<div class="search-form">
  <%= form_tag reports_thank_you_path do %>
    <div class="label">
      <%= label_tag "Email" %>
    </div></br>
    <div class="blank-form">
      <%= text_field_tag :email, nil, placeholder: "Email" %>
    </div></br>
    <div class="label">
      <%= label_tag "Search for:" %>
    </div></br>
    <div class="blank-form">
      <%= select_tag :search, options_for_select(@assebmly_search_choices), prompt: "Select Assembly Name" %>
    </div></br>
    <div class="submit-button">
      <%= submit_tag "Search", name: nil %>
    </div>
  <% end %>
</div>
